<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023736208968-6bpc9sfftuf0hkn2pvdtea49g5mhsvdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023736208968-6bpc9sfftuf0hkn2pvdtea49g5mhsvdf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1023736208968-co5bv9h33elm5ku6dt3rrf3tidv2l4nf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_EQ0JljQam30N_uAchaZx4iqeMwCipjI</string>
	<key>GCM_SENDER_ID</key>
	<string>1023736208968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tpaz.pemudaBismillah</string>
	<key>PROJECT_ID</key>
	<string>tpazproject</string>
	<key>STORAGE_BUCKET</key>
	<string>tpazproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023736208968:ios:17fc29e1e540551f35c27d</string>
	<key>DATABASE_URL</key>
	<string>https://tpazproject.firebaseio.com</string>
</dict>
</plist>